.public_profile_title {
    padding-bottom: 0rem;  
}

.public_profile_value {
    padding-top: 0.5rem;
    padding-left: 0.65rem;
    margin-bottom: 0.25rem;
    color: #4c4c4c;
}

.certificate_image {
    width: 50%;
}